.App {
  text-align: center;
}

.App input {
  grid-column: span 2;
  width:50%;
  height:70%;
  align-self:center;
  justify-self:center;
}

.App:nth-of-type(2n) {
  background-color: lightcyan;
}

.CountryInfo {
  padding:20px;
  display:flex;
  flex-direction: column;
  border-radius: 5px;
}

.CountryInfo:nth-of-type(2n) {
  background-color: rgba(150,150,150,0.1);
}

.bar {
  background: blue;
  height: 8px;
  border-radius: 0px;
  transform-origin: center left;
  transition: ease-in-out 0.5s;
  animation: scaleIn 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bar:hover {
  background-color: aquamarine;
  transition: ease-in-out 0.5s;
}

.CountryInfo:hover {
  transform:scale(1);
}

@keyframes scaleIn {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}